__pycache__/
*.pyc
*.sw*
*/workerlog*
.ipynb_checkpoints/
*.ipynb*
_build/
build/
nohup.out
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.idea/PaddleClas.iml
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
